<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TrackACowApp"
        android:allowBackup="false"
        android:icon="@mipmap/track_a_cow_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/track_a_cow_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.feed_reports.FeedReportsActivity"
            android:label="@string/feed_reports"
            android:parentActivityName=".presentation.lot_reports.LotReportActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.add_or_edit_rations.AddOrEditRation"
            android:exported="false"
            android:label="@string/add_ration"
            android:parentActivityName=".presentation.manage_rations.ManageRationsActivity" />
        <activity
            android:name=".presentation.manage_rations.ManageRationsActivity"
            android:exported="false"
            android:label="@string/more_manage_rations"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.drugs_given_reports.DrugsGivenReportActivity"
            android:exported="false"
            android:label="Drug Reports"
            android:parentActivityName=".presentation.lot_reports.LotReportActivity" />
        <activity
            android:name=".presentation.edit_load.EditLoadActivity"
            android:exported="false"
            android:label="Edit cattle added"
            android:parentActivityName=".presentation.lot_reports.LotReportActivity" />
        <activity
            android:name=".presentation.activities.AddLoadOfCattleActivity"
            android:exported="false"
            android:label="Add cattle" />
        <activity
            android:name=".presentation.feedlot.FeedLotActivity"
            android:exported="false"
            android:label="Feed Lot"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.activities.ArchivesActivity"
            android:exported="false"
            android:label="Archives"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.lot_reports.LotReportActivity"
            android:exported="false"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activities.AddDrugsGivenToSpecificCowActivity" />
        <activity android:name=".presentation.activities.EditDrugsGivenToSpecificCowActivity" />
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.edit_drugs_given.EditDrugsGivenListActivity"
            android:exported="false"
            android:label="Edit drugs given"
            android:parentActivityName=".presentation.edit_medicated_cow.EditMedicatedCowActivity" />
        <activity
            android:name=".presentation.activities.CreateAccountActivity"
            android:exported="false"
            android:label="Create Account"
            android:parentActivityName=".presentation.sign_in.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.sign_in.SignInActivity"
            android:exported="false"
            android:label="Sign In"
            android:parentActivityName=".presentation.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.edit_medicated_cow.EditMedicatedCowActivity"
            android:exported="false"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
        <activity
            android:name=".presentation.manage_drugs.ManageDrugsActivity"
            android:exported="false"
            android:label="Manage Drugs"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.manage_pens.ManagePensActivity"
            android:exported="false"
            android:label="Manage Pens"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.medicated_cows.MedicatedCowsActivity"
            android:exported="false"
            android:parentActivityName=".presentation.activities.MainActivity" />
        <activity
            android:name=".presentation.add_edit_drug.AddOrEditDrugActivity"
            android:exported="false"
            android:label="Add new drug"
            android:parentActivityName=".presentation.manage_drugs.ManageDrugsActivity" />
        <activity
            android:name=".presentation.activities.MedicateACowActivity"
            android:exported="false"
            android:label="Medicate a cow"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
        <activity
            android:name=".presentation.activities.MarkACowDeadActivity"
            android:exported="false"
            android:label="Mark a cow dead"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
        <activity
            android:name=".presentation.edit_lot.EditLotActivity"
            android:exported="false"
            android:label="Edit lot information"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
    </application>

</manifest>