<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trevorwiebe.trackacow">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/track_a_cow_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/track_a_cow_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.FeedLotActivity"></activity>
        <activity
            android:name=".activities.ArchivesActivity"
            android:label="Archives"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.LotReportActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddDrugsGivenToSpecificCowActivity" />
        <activity android:name=".activities.EditDrugsGivenToSpecificCowActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.EditDrugsGivenActivity"
            android:label="Edit drugs given"
            android:parentActivityName=".activities.EditMedicatedCowActivity" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:label="Create Account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignInActivity"
            android:label="Sign In"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EditMedicatedCowActivity"
            android:parentActivityName=".activities.MedicatedCowsActivity" />
        <activity
            android:name=".activities.ManageDrugsActivity"
            android:label="Manage Drugs"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ManagePensActivity"
            android:label="Manage Pens"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.MedicatedCowsActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.AddNewDrugActivity"
            android:label="Add new drug"
            android:parentActivityName=".activities.ManageDrugsActivity" />
        <activity
            android:name=".activities.EditDrugActivity"
            android:label="Edit drug"
            android:parentActivityName=".activities.ManageDrugsActivity" />
        <activity
            android:name=".activities.MedicateACowActivity"
            android:label="Medicate a cow"
            android:parentActivityName=".activities.MedicatedCowsActivity" />
        <activity
            android:name=".activities.MarkACowDeadActivity"
            android:label="Mark a cow dead"
            android:parentActivityName=".activities.MedicatedCowsActivity" />
        <activity
            android:name=".activities.EditLotActivity"
            android:label="Edit lot information"
            android:parentActivityName=".activities.MedicatedCowsActivity" />

        <service
            android:name=".services.SyncDatabaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
    </application>

</manifest>