<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".TrackACowApp"
        android:icon="@mipmap/track_a_cow_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/track_a_cow_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".presentation.add_lot_and_load.AddLotAndLoad"
            android:label="Add Lot And Load"
            android:parentActivityName=".presentation.main_activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.add_edit_pen.AddEditPensActivity"
            android:exported="false"
            android:label="@string/add_pen"
            android:parentActivityName=".presentation.manage_pens.ManagePensActivity" />

        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <activity
            android:name=".presentation.feed_lot_view_pager_container.FeedLotViewPagerContainer"
            android:exported="false"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.feed_reports.FeedReportsActivity"
            android:exported="false"
            android:label="@string/feed_reports"
            android:parentActivityName=".presentation.lot_reports.LotReportActivity" />
        <activity
            android:name=".presentation.add_or_edit_rations.AddOrEditRation"
            android:exported="false"
            android:label="@string/add_ration"
            android:parentActivityName=".presentation.manage_rations.ManageRationsActivity" />
        <activity
            android:name=".presentation.manage_rations.ManageRationsActivity"
            android:exported="false"
            android:label="@string/more_manage_rations"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.drugs_given_reports.DrugsGivenReportActivity"
            android:exported="false"
            android:label="@string/drug_report"
            android:parentActivityName=".presentation.lot_reports.LotReportActivity" />
        <activity
            android:name=".presentation.edit_load.EditLoadActivity"
            android:exported="false"
            android:label="@string/edit_cattle_added"
            android:parentActivityName=".presentation.lot_reports.LotReportActivity" />
        <activity
            android:name=".presentation.add_load_of_cattle.AddLoadOfCattleActivity"
            android:exported="false"
            android:label="@string/add_cattle" />
        <activity
            android:name=".presentation.archives.ArchivesActivity"
            android:exported="false"
            android:label="@string/more_archives"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.lot_reports.LotReportActivity"
            android:exported="false"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.main_activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.add_drugs_given_to_specific_cow.AddDrugsGivenToSpecificCowActivity" />
        <activity android:name=".presentation.edit_drugs_given_to_specific.EditDrugsGivenToSpecificCowActivity" />
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/more_settings"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.edit_drugs_given.EditDrugsGivenListActivity"
            android:exported="false"
            android:label="@string/edit_drugs_given"
            android:parentActivityName=".presentation.edit_medicated_cow.EditMedicatedCowActivity" />
        <activity
            android:name=".presentation.create_account.CreateAccountActivity"
            android:exported="false"
            android:label="@string/create_account"
            android:parentActivityName=".presentation.sign_in.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.sign_in.SignInActivity"
            android:exported="false"
            android:label="@string/sign_in"
            android:parentActivityName=".presentation.main_activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.edit_medicated_cow.EditMedicatedCowActivity"
            android:exported="false"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
        <activity
            android:name=".presentation.manage_drugs.ManageDrugsActivity"
            android:exported="false"
            android:label="@string/more_manage_drugs"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.manage_pens.ManagePensActivity"
            android:exported="false"
            android:label="@string/more_manage_pens"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.medicated_cows.MedicatedCowsActivity"
            android:exported="false"
            android:parentActivityName=".presentation.main_activity.MainActivity" />
        <activity
            android:name=".presentation.add_edit_drug.AddOrEditDrugActivity"
            android:exported="false"
            android:label="@string/add_drug"
            android:parentActivityName=".presentation.manage_drugs.ManageDrugsActivity" />
        <activity
            android:name=".presentation.medicate_a_cow.MedicateACowActivity"
            android:exported="false"
            android:label="@string/treat_a_cow"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
        <activity
            android:name=".presentation.mark_a_cow_dead.MarkACowDeadActivity"
            android:exported="false"
            android:label="@string/mark_a_cow_dead"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
        <activity
            android:name=".presentation.edit_lot.EditLotActivity"
            android:exported="false"
            android:label="Edit lot information"
            android:parentActivityName=".presentation.medicated_cows.MedicatedCowsActivity" />
    </application>

</manifest>